
<footer class="footer" style="background-color: black;margin-top: 117px;">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block" style="margin: auto;font-size: 20px;">© 2026 | All rights reserved | Created by: Zeeshan Abbas</span>
    <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span> -->
  </div>
</footer>